In [1]:
#What will be the output of the following code? 

#abs(x) returns the absolute value of x.
#pow(3, 2) computes 3 raised to the power of 2
x = -15 
print(abs(x) + pow(3, 2))

24

In [2]:
#Convert the number 45 to its binary and hexadecimal representations using Python functions. 

#Binary number - bin()
#hexadecimal number - hex()

num=45
num_binary=bin(num)
num_hex=hex(num)
print(num_binary)
print(num_hex)

0b101101
0x2d

In [3]:
# What will be the output of the following? 
print(type(bin(25)))

<class 'str'>

In [4]:
# What will be the output of the following code? 
num = 5.6789 
print(round(num, 1))

5.7

In [11]:
# Convert the string "20.75" into a float and add 5 to it. 

string="20.75"
print(type(string))

<class 'str'>

In [23]:
string="20.75"
num_2=float(string)
final=num_2 + 5

print(final)

25.75

In [27]:
# What is the difference between float(10) and int(10.5) in terms of output? 
# float(10) converts the int 10 into a float 10.0
float(10)

10.0

In [26]:
# int(10.5) converts the float 10.5 into an integer 10 by truncating
int(10.5)

10

In [28]:
# Given s = " Python Programming ", write a line of code to remove extra spaces and convert it to lowercase. 

# Use .strip() to remove spaces
# Use .lower() to conert it to lowercase

s = " Python Programming "
s2=s.strip().lower()
print(s2)

python programming

In [29]:
# What will be the output of the following? 
# text = "hello world" 
# print(text.replace("world", "Python")) 

text = "hello world"
print(text.replace("world", "Python"))

# The function replace() replaces the word "world" in the text variable with "python"

hello Python

In [30]:
# Write a Python expression to split "apple,banana,grapes" into a list of individual fruits. 
# .split()

fruits="apple,banana,grapes".split(",")
print(fruits)

['apple', 'banana', 'grapes']

In [31]:
# Given numbers = [3, 1, 4, 1, 5, 9], write a line of code to count how many times 1 appears in the list. 

# .count()

nums= [3, 1, 4, 1, 5, 9]
nums1=nums.count(1)
print(nums1)

2

In [32]:
# What will be the output of the following? 
# fruits = ['apple', 'banana', 'cherry'] 
# fruits.append('mango') 
# fruits.remove('banana') 
# print(fruits) 

fruits = ['apple', 'banana', 'cherry'] 
fruits.append('mango') 
fruits.remove('banana') 
print(fruits)

# The above functions add a string element to the fruits list and removes banana from the list

['apple', 'cherry', 'mango']

In [36]:
# Write a Python expression to sort marks = [78, 56, 89, 45] in ascending order.
# We use sort() to arrange the marks in ascending order

marks = [78, 56, 89, 45]
new_marks=marks.sort()
print(marks)

[45, 56, 78, 89]